*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

:root {
  font-size: 20px;

  --background-color: #282828;
  --h1-color: #ef5857;
  --text-color: #ffffff;
  --navbar-background-color: #1f1f1f;
}
*::selection {
  background-color: var(--h1-color);
  color: var(--background-color);
}

body  {
  background-color: var(--background-color) ;
}

.wrapper  {
  min-height: 100vh;
  padding-right: 200px;
}

.title  {
  font-size: 3rem;
  color: var(--h1-color);
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;

  margin-bottom: 10%;
}

.tex-style-left {
  text-align: left;
}

.li_navbar  {
  margin-top: 40px;
}



.button_navbar  {
  border: none;
  padding: 4px;
  margin-left: 4px;
  border-radius: 16px;
  background-color: var(--h1-color);
  color: var(--navbar-background-color);
}

.li_navbar a  {
  color: var(--h1-color);
  text-decoration: none;
  font-size: 1.5rem;

}

.strengths_and_weakness_box {
  display: flex;
  justify-content: center;
  gap: 10%;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 3%;
}

.strengths_and_weakness_list {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  justify-content: center;
  padding: 7% 0;
}

.strengths_and_weakness_img {
  width: 350px;
  height: 600px;
}

.hobby-item, .hobby-item-right, .hobby-item-right-special {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.hobby-info {
  max-width: 600px;
  align-self: flex-end;
  margin-bottom: 10%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  text-align: end;
}

.hobby-info-right {
  max-width: 600px;
  align-self: flex-end;
  margin-bottom: 10%;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.hobby-item h2, .hobby-item-right-special h2 {
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
}

.left {
  left: 40%;
}

.right {
  right: 30%;
}

.hobby-item a, .hobby-item-right a, .hobby-item-right-special a {
  color: var(--text-color);
  font-size: 1.1em;
  transition: 1s;
}

.hobby-item a:hover, .hobby-item-right a:hover, .hobby-item-right-special a:hover {
  color: var(--h1-color);
}


.line {
  border-left: solid 10px var(--h1-color);
  min-height: 600px;
  border-radius: 10px;
}

.footer {
  padding-right: 200px;
  background-color: var(--navbar-background-color);
}

.footer_box {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 5% 3%;
  border-top: solid 1px var(--text-color);
}

.footer_info p {
  margin: 0;
  text-align: right;
}

.hobby-item-right {
  display: none;
}

#img_aboutme  {
  width: 20%;
  height: 25%;

  min-height: 600px;
  min-width: 350px;
}

#img_logo {
  width: 20%;

  min-height: 100px;
  min-width: 100px;
}

#img_Hobbys_schwimmen {
  width: 20%;

  min-height: 200px;
  min-width: 100px;

}

#navbar_desktop {
  background-color: var(--navbar-background-color);
  position: fixed;
  width: 200px;
  height: 100%;
  right: 0;
  top: 0;
}
.navbar {
  background-color: var(--navbar-background-color) !important;
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skill-bar-wrapper  {
  background-color: var(--navbar-background-color);
  
  width: 80%;
  height: 30%;

  padding: 30px;
  border-radius: 1rem;
}

#skill-bar-wrapper > div > progress {
  width: 100%;
  accent-color: var(--h1-color);
}

#skill-bar-wrapper > div  {
  margin: 30px;  
}


.flexii {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.offcanvas-header {
  background-color: var(--navbar-background-color);
}

.offcanvas-body {
  background-color: var(--navbar-background-color);
}


/* mobile */
@media only screen and (max-width: 600px) {
  #navbar_desktop {
    display: none;
  }
  .wrapper {padding-right: 0;}
  .footer {padding-right: 0;}
}

@media only screen and (max-width: 900px) {
  .line {display: none;}
}

@media only screen and (max-width: 950px) {
  .hobby-item, .hobby-item-right { flex-direction: column;}
  .hobby-item h2, .hobby-item-right h2 {position: unset; transform: none; margin-top: 50px;}
  .hobby-info {text-align: center; margin: 0; align-self: center; margin-bottom: 10%;}
  .hobby-item-right {display: flex;}
  .hobby-item-right-special {display: none;}
}

/* desktop */
@media only screen and (min-width: 600px) {
  .navbar {display: none;}
}
